<% for (var i=0, l=sections.length; i<l; i++) { %>
<% var section = sections[i];%>
%section-<%= i + 1 %>

\noindent\begin{minipage}[t]{0.35\linewidth}
<%= section.docs_text %>
\end{minipage}\hfill
\noindent\begin{minipage}[t]{0.6\linewidth}
\begin{minted}{<%=language.name%>}
<%= section.code_text %>
\end{minted}
\end{minipage}\vspace{.5cm}
<% }%>
